.mobile-menu {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 64px;
}

.mobile-menu h2 a {
    font-size:42px;
    font-weight:bold;
    padding: 20px 50px;
    display:block;
    text-align:left;
}
.mobile-menu h2 {
    display:block;
}
.mobile-menu md-icon {
    font-size:1em;
    height:1em;
    width:1em;
}
.mobile-menu i {
    vertical-align: baseline;
}
