/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Anton|Arimo|Cabin|Exo');

html, body, md-sidenav-container, .content {
  margin: 0;
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
ul, li {
    margin:0;
    padding:0;
}
.loading {

}
.hidden{
  display:none;
}