<mat-toolbar>
  <button *ngIf="isMobile === true" class="menu-toggle-mobile" mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>Menu
  </button>
  <div class="menu-title">
    <h2>Blackhawk Tree Care</h2>
  </div>

  <div *ngIf="isMobile === false" class="desktop-menu">
    <app-menu></app-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container id="sidenav-container">
  <mat-sidenav class="side-nav" #sidenav mode="{{mode}}">
    <app-menu (closeMenu)="sidenav.close()"></app-menu>
    <button mat-button (click)="sidenav.toggle()">Close <mat-icon>close</mat-icon></button>
  </mat-sidenav>
  <div class="content">
    <app-home></app-home>
  </div>
</mat-sidenav-container>