p {
    margin-top:.25em;
}
h3 {
    text-align:center;
}
h4 {
    margin-bottom:.25em;
}
@media (max-width:992px){
    .container {
        margin:0;
    }
    .container h2 {
        font-size:3em;
    }
    .container h3 {
        font-size:2em;
    }
    .container h4 {
        font-size:1.2em;
        margin-left:1.5em;
    }
    .container p {
        margin-left: 2em;
        margin-right:2em;
    }
}
@media (min-width: 992px) and (max-width:1200px){
    .container {
        margin:0 20%;
    }
    .container h2 {
        font-size:3.5em;
    }
    .container h3 {
        font-size:2em;
    }
    .container h4 {
        font-size:1.75em;
    }
    .container p {
        font-size:1.1em;
    }
}
@media (min-width: 1200px){
    .container {
        margin:0 25%;
    }
    .container h2 {
        font-size:4em;
    }
    .container h3 {
        font-size:3em;
    }
    .container h4 {
        font-size:2em;
    }
    .container p {
        font-size:1.2em;
    }
}