<div id="services" class="container">
  <h2>Services</h2>
  
  <h3><i class="fa fa-tree" aria-hidden="true"></i> Tree Maintenance</h3>
  <h4>Cabling</h4>
  <p>Cabling your tree can correct it’s growth, giving your tree a stable structure. In addition to allowing your tree to grow properly, cabling can be used to protect your house by directing the tree’s growth away from your house.</p>
  <h4>Pruning</h4>
  <p>Safely remove dead, diseased, or storm damaged branches. Pruning away infected branches can improve the tree’s health. Pruning  promotes better air circulation around the tree can prevent branches from falling during storms.</p>
  <h4>Tree Fertilizing / Tree Injections</h4>
  <p>Trunk or stem injection applies resistance activators and fertilizers directly into the vascular tissue of a tree. They can also be used to apply pesticides to control damaging insects.</p>
  <h4>Trimming</h4>
  <p>Shaping the tree can make it look great and give it balance. Properly trimming a tree can promote new growth and leave it looking fantastic.</p>
  
  <h3><i class="fa fa-ban" aria-hidden="true"></i> Tree Removal</h3>
  <h4>Dangerous Removal</h4>
  <p>Dead or damaged trees can fall unexpectedly and be serious hazards to any nearby structures. We use the newest techniques to quickly and safely remove dead or dangerous trees.</p>
  <h4>Stump Grinding</h4>
  <p>As an added service we can also grind down the stumps of any removed trees. Machine reaches about 10 inches into the ground. Hauling stump grindings is an EXTRA cost.</p>
  <h4>Eradication of Invasive Species</h4>
  <p>We stay up to date with the latest threats to our local environment. Our certified arborist is trained in the eradication of invasive species and can protect your trees from future harm.</p>
  <h5>Common species of Illinois:</h5>
  <ul>
    <li>European Buckthorn</li>
    <li>Dwarf Honeysuckle</li>
    <li>English Ivy</li>
    <li>Japanese knotweed</li>
  </ul>
  
  <h3><i class="fa fa-leaf" aria-hidden="true"></i> Landscaping</h3>
  <h4>Tree Planting</h4>
  <p>Our tree planting service will help you pick the right tree for your property. Properly placed trees can provide: shade, privacy, wind break, control erosion, and more.</p>
  <h4>Mulching</h4>
  <p>We can lay down mulch to improve the aesthetic of your property and the health of the trees by discouraging weeds and improving the quality of the soil.</p>
</div>