<div class="banner">
  <div class="center">
    <h2>Blackhawk Tree Care</h2>
    <button md-raised-button color="primary"><md-icon>call</md-icon>Call now</button>
  </div>
</div>
<div class="container">
  <h2>Services</h2>
  <h3><i class="fa fa-ban" aria-hidden="true"></i> Tree Removal</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lectus non sapien imperdiet congue ac non est. In ipsum dui, vehicula eu nisi blandit, varius viverra nunc.</p>
  <h3><i class="fa fa-tree" aria-hidden="true"></i> Tree Trimming</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lectus non sapien imperdiet congue ac non est. In ipsum dui, vehicula eu nisi blandit, varius viverra nunc.</p>
  <h3><i class="fa fa-snowflake-o" aria-hidden="true"></i> Snow Removal</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lectus non sapien imperdiet congue ac non est. In ipsum dui, vehicula eu nisi blandit, varius viverra nunc.</p>
</div>
<app-footer></app-footer>