.banner {
    background-image: url('../../assets/images/banner-background.jpg');
    background-size:cover;
    background-position:center;
    height:100%;
}
.banner h2 {
    font-family: 'Cabin', sans-serif;
    text-align:center;
    margin:0.5em;
    text-shadow: 5px 5px 5px #000000;
}
.banner a {
    padding:0.5em 1em;
    opacity:.85;
}
.banner a mat-icon {
    font-size:1em;
    height: 1em;
    width: 1em;
}
.banner .center {
    position:absolute;
    top:25%;
    left:0;
    right:0;
    text-align:center;
}
.banner img {
    margin:auto;
    display:block;
    max-width:80%;
}
.banner object {
    display:block;
    margin:auto;
    max-width:30%;
    margin-bottom:2em;
}
@media (max-width:992px){
    .banner object {
        max-width:75%;
    }
    .banner h2 {
        font-size:2em;
    }
    .banner a {
        font-size:1.5em;
    }
}
@media (min-width: 992px) and (max-width:1200px){
    .banner h2 {
        font-size: 4em;
    }
    .banner a {
        font-size:1.5em;
    }
}
@media (min-width: 1200px){
    .banner h2 {
        font-size: 6em;
    }
    .banner a {
        font-size:2em;
    }
}